/* ---------------------------------------- */
/* HOMEPAGE - The main Ecosia homepage only */
/* ---------------------------------------- */

/* Homepage sections */
.above-fold-section, .forest-section--variant-primary {
	background-color: var(--color-background-primary) !important;
}
.financial-report-section, .claims-values-section, .wave-seperator--variant-primary, .wave-seperator--variant-quarternary {
	background-color: var(--color-background-secondary) !important;
}

/* Projects */
.projects-section__project-description, .projects-section__project-title {
	color: white !important;
}

/* Waves */
.above-fold-section__wave path {
	fill: var(--color-background-primary) !important;
}